@include extjs-button-ui(
  $ui: 'white-small',

  $border-radius: 1px,
  $border-width: $button-small-border-width,

  $border-color: darken($connect-border-color,4%),
  $border-color-over: darken($connect-border-color,4%),
  $border-color-focus: darken($connect-border-color,4%),
  $border-color-pressed: darken($connect-border-color,4%),
  $border-color-disabled: darken($connect-border-color,4%),

  $padding: $button-small-padding,
  $text-padding: $button-small-text-padding,

  $background-color: #FFFFFF,
  $background-color-over: darken(#FFFFFF,2%),
  $background-color-focus: darken(#FFFFFF,2%),
  $background-color-pressed: darken(#FFFFFF,2%),
  $background-color-disabled: darken(#FFFFFF,5%),

  $background-gradient: 'matte',
  $background-gradient-over: 'matte',
  $background-gradient-focus: 'matte',
  $background-gradient-pressed: 'matte',
  $background-gradient-disabled: 'matte',

  $color: $connect-orange,
  $color-over: $connect-orange,
  $color-focus: $connect-orange,
  $color-pressed: $connect-orange,
  $color-disabled: $connect-orange,

  $font-size: $button-small-font-size,
  $font-size-over: $button-small-font-size-over,
  $font-size-focus: $button-small-font-size-focus,
  $font-size-pressed: $button-small-font-size-pressed,
  $font-size-disabled: $button-small-font-size-disabled,

  $font-weight: $button-small-font-weight,
  $font-weight-over: $button-small-font-weight-over,
  $font-weight-focus: $button-small-font-weight-focus,
  $font-weight-pressed: $button-small-font-weight-pressed,
  $font-weight-disabled: $button-small-font-weight-disabled,

  $font-family: $button-small-font-family,
  $font-family-over: $button-small-font-family-over,
  $font-family-focus: $button-small-font-family-focus,
  $font-family-pressed: $button-small-font-family-pressed,
  $font-family-disabled: $button-small-font-family-disabled,

  $icon-size: $button-small-icon-size,
  $glyph-color: $button-toolbar-glyph-color,
  $glyph-opacity: $button-toolbar-glyph-opacity,
  $arrow-width: $button-small-arrow-width,
  $arrow-height: $button-small-arrow-height,
  $split-width: $button-small-split-width,
  $split-height: $button-small-split-height,

  $opacity-disabled: $button-toolbar-opacity-disabled,
  $inner-opacity-disabled: $button-toolbar-inner-opacity-disabled
);
@include extjs-button-ui(
  $ui: 'white-large',

  $border-radius: 1px,
  $border-width: $button-large-border-width,

  $border-color: darken($connect-border-color,4%),
  $border-color-over: darken($connect-border-color,4%),
  $border-color-focus: darken($connect-border-color,4%),
  $border-color-pressed: darken($connect-border-color,4%),
  $border-color-disabled: darken($connect-border-color,4%),

  $padding: 0,
  $text-padding: $button-large-text-padding,

  $background-color: #FFFFFF,
  $background-color-over: darken(#FFFFFF,2%),
  $background-color-focus: darken(#FFFFFF,2%),
  $background-color-pressed: darken(#FFFFFF,2%),
  $background-color-disabled: darken(#FFFFFF,5%),

  $background-gradient: 'matte',
  $background-gradient-over: 'matte',
  $background-gradient-focus: 'matte',
  $background-gradient-pressed: 'matte',
  $background-gradient-disabled: 'matte',

  $color: $connect-orange,
  $color-over: $connect-orange,
  $color-focus: $connect-orange,
  $color-pressed: $connect-orange,
  $color-disabled: $connect-orange,

  $font-size: $button-large-font-size,
  $font-size-over: $button-large-font-size-over,
  $font-size-focus: $button-large-font-size-focus,
  $font-size-pressed: $button-large-font-size-pressed,
  $font-size-disabled: $button-large-font-size-disabled,

  $font-weight: $button-large-font-weight,
  $font-weight-over: $button-large-font-weight-over,
  $font-weight-focus: $button-large-font-weight-focus,
  $font-weight-pressed: $button-large-font-weight-pressed,
  $font-weight-disabled: $button-large-font-weight-disabled,

  $font-family: $button-large-font-family,
  $font-family-over: $button-large-font-family-over,
  $font-family-focus: $button-large-font-family-focus,
  $font-family-pressed: $button-large-font-family-pressed,
  $font-family-disabled: $button-large-font-family-disabled,

  $icon-size: $button-large-icon-size,
  $glyph-color: $button-toolbar-glyph-color,
  $glyph-opacity: $button-toolbar-glyph-opacity,
  $arrow-width: $button-large-arrow-width,
  $arrow-height: $button-large-arrow-height,
  $split-width: $button-large-split-width,
  $split-height: $button-large-split-height,

  $opacity-disabled: $button-toolbar-opacity-disabled,
  $inner-opacity-disabled: $button-toolbar-inner-opacity-disabled
);
@include extjs-button-ui(
  $ui: 'white-medium',

  $border-radius: 1px,
  $border-width: 1px,

  $border-color: $connect-orange,
  $border-color-over: $connect-orange,
  $border-color-focus: $connect-orange,
  $border-color-pressed: $connect-orange,
  $border-color-disabled: darken($connect-border-color,4%),

  $padding: 0,
  $text-padding: $button-medium-text-padding,

  $background-color: #FFFFFF,
  $background-color-over: darken(#FFFFFF,2%),
  $background-color-focus: darken(#FFFFFF,2%),
  $background-color-pressed: darken(#FFFFFF,2%),
  $background-color-disabled: darken(#FFFFFF,5%),

  $background-gradient: 'matte',
  $background-gradient-over: 'matte',
  $background-gradient-focus: 'matte',
  $background-gradient-pressed: 'matte',
  $background-gradient-disabled: 'matte',

  $color: $connect-orange,
  $color-over: $connect-orange,
  $color-focus: $connect-orange,
  $color-pressed: $connect-orange,
  $color-disabled: $connect-orange,

  $font-size: $button-medium-font-size,
  $font-size-over: $button-medium-font-size-over,
  $font-size-focus: $button-medium-font-size-focus,
  $font-size-pressed: $button-medium-font-size-pressed,
  $font-size-disabled: $button-medium-font-size-disabled,

  $font-weight: $button-medium-font-weight,
  $font-weight-over: $button-medium-font-weight-over,
  $font-weight-focus: $button-medium-font-weight-focus,
  $font-weight-pressed: $button-medium-font-weight-pressed,
  $font-weight-disabled: $button-medium-font-weight-disabled,

  $font-family: $button-medium-font-family,
  $font-family-over: $button-medium-font-family-over,
  $font-family-focus: $button-medium-font-family-focus,
  $font-family-pressed: $button-medium-font-family-pressed,
  $font-family-disabled: $button-medium-font-family-disabled,

  $icon-size: $button-medium-icon-size,
  $glyph-color: $button-toolbar-glyph-color,
  $glyph-opacity: $button-toolbar-glyph-opacity,
  $arrow-width: $button-medium-arrow-width,
  $arrow-height: $button-medium-arrow-height,
  $split-width: $button-medium-split-width,
  $split-height: $button-medium-split-height,

  $opacity-disabled: $button-toolbar-opacity-disabled,
  $inner-opacity-disabled: $button-toolbar-inner-opacity-disabled
);

@include extjs-button-ui(
  $ui: 'white_red-small',

  $border-radius: 1px,
  $border-width: $button-small-border-width,

  $border-color: darken($connect-border-color,4%),
  $border-color-over: darken($connect-border-color,4%),
  $border-color-focus: darken($connect-border-color,4%),
  $border-color-pressed: darken($connect-border-color,4%),
  $border-color-disabled: darken($connect-border-color,4%),

  $padding: 0,
  $text-padding: $button-small-text-padding,

  $background-color: #FFFFFF,
  $background-color-over: darken(#FFFFFF,2%),
  $background-color-focus: darken(#FFFFFF,2%),
  $background-color-pressed: darken(#FFFFFF,2%),
  $background-color-disabled: darken(#FFFFFF,5%),

  $background-gradient: 'matte',
  $background-gradient-over: 'matte',
  $background-gradient-focus: 'matte',
  $background-gradient-pressed: 'matte',
  $background-gradient-disabled: 'matte',

  $color: #ff3737,
  $color-over: #ff3737,
  $color-focus: #ff3737,
  $color-pressed: #ff3737,
  $color-disabled: #ff3737,

  $font-size: $button-small-font-size,
  $font-size-over: $button-small-font-size-over,
  $font-size-focus: $button-small-font-size-focus,
  $font-size-pressed: $button-small-font-size-pressed,
  $font-size-disabled: $button-small-font-size-disabled,

  $font-weight: $button-small-font-weight,
  $font-weight-over: $button-small-font-weight-over,
  $font-weight-focus: $button-small-font-weight-focus,
  $font-weight-pressed: $button-small-font-weight-pressed,
  $font-weight-disabled: $button-small-font-weight-disabled,

  $font-family: $button-small-font-family,
  $font-family-over: $button-small-font-family-over,
  $font-family-focus: $button-small-font-family-focus,
  $font-family-pressed: $button-small-font-family-pressed,
  $font-family-disabled: $button-small-font-family-disabled,

  $icon-size: $button-small-icon-size,
  $glyph-color: $button-toolbar-glyph-color,
  $glyph-opacity: $button-toolbar-glyph-opacity,
  $arrow-width: $button-small-arrow-width,
  $arrow-height: $button-small-arrow-height,
  $split-width: $button-small-split-width,
  $split-height: $button-small-split-height,

  $opacity-disabled: $button-toolbar-opacity-disabled,
  $inner-opacity-disabled: $button-toolbar-inner-opacity-disabled
);
@include extjs-button-ui(
  $ui: 'plain-small',

  $border-radius: 1px,
  $border-width: $button-small-border-width,

  $border-color: transparent,
  $border-color-over: transparent,
  $border-color-focus: transparent,
  $border-color-pressed: transparent,
  $border-color-disabled: transparent,

  $padding: 0,
  $text-padding: $button-small-text-padding,

  $background-color: transparent,
  $background-color-over: transparent,
  $background-color-focus: transparent,
  $background-color-pressed: transparent,
  $background-color-disabled: transparent,

  $background-gradient: 'matte',
  $background-gradient-over: 'matte',
  $background-gradient-focus: 'matte',
  $background-gradient-pressed: 'matte',
  $background-gradient-disabled: 'matte',

  $color: #636363,
  $color-over: $connect-orange,
  $color-focus: $connect-orange,
  $color-pressed: $connect-orange,
  $color-disabled: lighten(#636363,10%),

  $font-size: $button-small-font-size,
  $font-size-over: $button-small-font-size-over,
  $font-size-focus: $button-small-font-size-focus,
  $font-size-pressed: $button-small-font-size-pressed,
  $font-size-disabled: $button-small-font-size-disabled,

  $font-weight: 500,
  $font-weight-over: 500,
  $font-weight-focus: 500,
  $font-weight-pressed: 500,
  $font-weight-disabled: 500,

  $font-family: $button-small-font-family,
  $font-family-over: $button-small-font-family-over,
  $font-family-focus: $button-small-font-family-focus,
  $font-family-pressed: $button-small-font-family-pressed,
  $font-family-disabled: $button-small-font-family-disabled,

  $icon-size: $button-small-icon-size,
  $glyph-color: $button-toolbar-glyph-color,
  $glyph-opacity: $button-toolbar-glyph-opacity,
  $arrow-width: $button-small-arrow-width,
  $arrow-height: $button-small-arrow-height,
  $split-width: $button-small-split-width,
  $split-height: $button-small-split-height,

  $opacity-disabled: $button-toolbar-opacity-disabled,
  $inner-opacity-disabled: $button-toolbar-inner-opacity-disabled
);

@include extjs-button-ui(
  $ui: 'plain-large',

  $border-radius: 1px,
  $border-width: $button-large-border-width,

  $border-color: transparent,
  $border-color-over: transparent,
  $border-color-focus: transparent,
  $border-color-pressed: transparent,
  $border-color-disabled: transparent,

  $padding: 0,
  $text-padding: $button-large-text-padding,

  $background-color: transparent,
  $background-color-over: transparent,
  $background-color-focus: transparent,
  $background-color-pressed: transparent,
  $background-color-disabled: transparent,

  $background-gradient: 'matte',
  $background-gradient-over: 'matte',
  $background-gradient-focus: 'matte',
  $background-gradient-pressed: 'matte',
  $background-gradient-disabled: 'matte',

  $color: #636363,
  $color-over: $connect-orange,
  $color-focus: $connect-orange,
  $color-pressed: $connect-orange,
  $color-disabled: lighten(#636363,10%),

  $font-size: $button-large-font-size,
  $font-size-over: $button-large-font-size-over,
  $font-size-focus: $button-large-font-size-focus,
  $font-size-pressed: $button-large-font-size-pressed,
  $font-size-disabled: $button-large-font-size-disabled,

  $font-weight: 500,
  $font-weight-over: 500,
  $font-weight-focus: 500,
  $font-weight-pressed: 500,
  $font-weight-disabled: 500,

  $font-family: $button-large-font-family,
  $font-family-over: $button-large-font-family-over,
  $font-family-focus: $button-large-font-family-focus,
  $font-family-pressed: $button-large-font-family-pressed,
  $font-family-disabled: $button-large-font-family-disabled,

  $icon-size: $button-large-icon-size,
  $glyph-color: $button-toolbar-glyph-color,
  $glyph-opacity: $button-toolbar-glyph-opacity,
  $arrow-width: $button-large-arrow-width,
  $arrow-height: $button-large-arrow-height,
  $split-width: $button-large-split-width,
  $split-height: $button-large-split-height,

  $opacity-disabled: $button-toolbar-opacity-disabled,
  $inner-opacity-disabled: $button-toolbar-inner-opacity-disabled
);

@include extjs-button-ui(
  $ui: 'orange-small',

  $border-radius: 1px,
  $border-width: $button-small-border-width,

  $border-color: transparent,
  $border-color-over: transparent,
  $border-color-focus: transparent,
  $border-color-pressed: transparent,
  $border-color-disabled: transparent,

  $padding: 0 3px 0 3px,
  $text-padding: $button-small-text-padding,

  $background-color: $connect-orange,
  $background-color-over: darken($connect-orange,2%),
  $background-color-focus: darken($connect-orange,2%),
  $background-color-pressed: darken($connect-orange,2%),
  $background-color-disabled: lighten($connect-orange,5%),

  $background-gradient: $button-toolbar-background-gradient,
  $background-gradient-over: $button-toolbar-background-gradient-over,
  $background-gradient-focus: $button-toolbar-background-gradient-focus,
  $background-gradient-pressed: $button-toolbar-background-gradient-pressed,
  $background-gradient-disabled: $button-toolbar-background-gradient-disabled,

  $color: #ffffff,
  $color-over: #ffffff,
  $color-focus: #ffffff,
  $color-pressed: #ffffff,
  $color-disabled: #ffffff,

  $font-size: $button-small-font-size,
  $font-size-over: $button-small-font-size-over,
  $font-size-focus: $button-small-font-size-focus,
  $font-size-pressed: $button-small-font-size-pressed,
  $font-size-disabled: $button-small-font-size-disabled,

  $font-weight: $button-small-font-weight,
  $font-weight-over: $button-small-font-weight-over,
  $font-weight-focus: $button-small-font-weight-focus,
  $font-weight-pressed: $button-small-font-weight-pressed,
  $font-weight-disabled: $button-small-font-weight-disabled,

  $font-family: $button-small-font-family,
  $font-family-over: $button-small-font-family-over,
  $font-family-focus: $button-small-font-family-focus,
  $font-family-pressed: $button-small-font-family-pressed,
  $font-family-disabled: $button-small-font-family-disabled,

  $icon-size: $button-small-icon-size,
  $glyph-color: $button-toolbar-glyph-color,
  $glyph-opacity: $button-toolbar-glyph-opacity,
  $arrow-width: $button-small-arrow-width,
  $arrow-height: $button-small-arrow-height,
  $split-width: $button-small-split-width,
  $split-height: $button-small-split-height,

  $opacity-disabled: $button-toolbar-opacity-disabled,
  $inner-opacity-disabled: $button-toolbar-inner-opacity-disabled
);
@include extjs-button-ui(
  $ui: 'orange-medium',

  $border-radius: 1px,
  $border-width: $button-medium-border-width,

  $border-color: transparent,
  $border-color-over: transparent,
  $border-color-focus: transparent,
  $border-color-pressed: transparent,
  $border-color-disabled: transparent,

  $padding: 0 3px 0 3px,
  $text-padding: $button-medium-text-padding,

  $background-color: $connect-orange,
  $background-color-over: darken($connect-orange,2%),
  $background-color-focus: darken($connect-orange,2%),
  $background-color-pressed: darken($connect-orange,2%),
  $background-color-disabled: lighten($connect-orange,5%),

  $background-gradient: $button-toolbar-background-gradient,
  $background-gradient-over: $button-toolbar-background-gradient-over,
  $background-gradient-focus: $button-toolbar-background-gradient-focus,
  $background-gradient-pressed: $button-toolbar-background-gradient-pressed,
  $background-gradient-disabled: $button-toolbar-background-gradient-disabled,

  $color: #ffffff,
  $color-over: #ffffff,
  $color-focus: #ffffff,
  $color-pressed: #ffffff,
  $color-disabled: #ffffff,

  $font-size: $button-medium-font-size,
  $font-size-over: $button-medium-font-size-over,
  $font-size-focus: $button-medium-font-size-focus,
  $font-size-pressed: $button-medium-font-size-pressed,
  $font-size-disabled: $button-medium-font-size-disabled,

  $font-weight: $button-medium-font-weight,
  $font-weight-over: $button-medium-font-weight-over,
  $font-weight-focus: $button-medium-font-weight-focus,
  $font-weight-pressed: $button-medium-font-weight-pressed,
  $font-weight-disabled: $button-medium-font-weight-disabled,

  $font-family: $button-medium-font-family,
  $font-family-over: $button-medium-font-family-over,
  $font-family-focus: $button-medium-font-family-focus,
  $font-family-pressed: $button-medium-font-family-pressed,
  $font-family-disabled: $button-medium-font-family-disabled,

  $icon-size: $button-medium-icon-size,
  $glyph-color: $button-toolbar-glyph-color,
  $glyph-opacity: $button-toolbar-glyph-opacity,
  $arrow-width: $button-medium-arrow-width,
  $arrow-height: $button-medium-arrow-height,
  $split-width: $button-medium-split-width,
  $split-height: $button-medium-split-height,

  $opacity-disabled: $button-toolbar-opacity-disabled,
  $inner-opacity-disabled: $button-toolbar-inner-opacity-disabled
);

@include extjs-button-ui(
  $ui: 'orange-large',

  $border-radius: 1px,
  $border-width: $button-large-border-width,

  $border-color: transparent,
  $border-color-over: transparent,
  $border-color-focus: transparent,
  $border-color-pressed: transparent,
  $border-color-disabled: transparent,

  $padding: 0 3px 0 3px,
  $text-padding: $button-large-text-padding,

  $background-color: $connect-orange,
  $background-color-over: darken($connect-orange,2%),
  $background-color-focus: darken($connect-orange,2%),
  $background-color-pressed: darken($connect-orange,2%),
  $background-color-disabled: lighten($connect-orange,5%),

  $background-gradient: $button-toolbar-background-gradient,
  $background-gradient-over: $button-toolbar-background-gradient-over,
  $background-gradient-focus: $button-toolbar-background-gradient-focus,
  $background-gradient-pressed: $button-toolbar-background-gradient-pressed,
  $background-gradient-disabled: $button-toolbar-background-gradient-disabled,

  $color: #ffffff,
  $color-over: #ffffff,
  $color-focus: #ffffff,
  $color-pressed: #ffffff,
  $color-disabled: #ffffff,

  $font-size: $button-large-font-size,
  $font-size-over: $button-large-font-size-over,
  $font-size-focus: $button-large-font-size-focus,
  $font-size-pressed: $button-large-font-size-pressed,
  $font-size-disabled: $button-large-font-size-disabled,

  $font-weight: $button-large-font-weight,
  $font-weight-over: $button-large-font-weight-over,
  $font-weight-focus: $button-large-font-weight-focus,
  $font-weight-pressed: $button-large-font-weight-pressed,
  $font-weight-disabled: $button-large-font-weight-disabled,

  $font-family: $button-large-font-family,
  $font-family-over: $button-large-font-family-over,
  $font-family-focus: $button-large-font-family-focus,
  $font-family-pressed: $button-large-font-family-pressed,
  $font-family-disabled: $button-large-font-family-disabled,

  $icon-size: $button-large-icon-size,
  $glyph-color: $button-toolbar-glyph-color,
  $glyph-opacity: $button-toolbar-glyph-opacity,
  $arrow-width: $button-large-arrow-width,
  $arrow-height: $button-large-arrow-height,
  $split-width: $button-large-split-width,
  $split-height: $button-large-split-height,

  $opacity-disabled: $button-toolbar-opacity-disabled,
  $inner-opacity-disabled: $button-toolbar-inner-opacity-disabled
);
@include extjs-button-ui(
  $ui: 'cancel-large',

  $border-radius: 1px,
  $border-width: $button-large-border-width,

  $border-color: transparent,
  $border-color-over: transparent,
  $border-color-focus: transparent,
  $border-color-pressed: transparent,
  $border-color-disabled: transparent,

  $padding: 0,
  $text-padding: $button-large-text-padding,

  $background-color: transparent,
  $background-color-over: transparent,
  $background-color-focus: transparent,
  $background-color-pressed: transparent,
  $background-color-disabled: transparent,

  $background-gradient: 'matte',
  $background-gradient-over: 'matte',
  $background-gradient-focus: 'matte',
  $background-gradient-pressed: 'matte',
  $background-gradient-disabled: 'matte',

  $color: #424242,
  $color-over: #424242,
  $color-focus: #424242,
  $color-pressed: #424242,
  $color-disabled: #424242,

  $font-size: 14pt,
  $font-size-over: 14pt,
  $font-size-focus:14pt,
  $font-size-pressed:14pt,
  $font-size-disabled:14pt,

  $font-weight: 500,
  $font-weight-over: 500,
  $font-weight-focus: 500,
  $font-weight-pressed: 500,
  $font-weight-disabled: 500,

  $font-family: $button-large-font-family,
  $font-family-over: $button-large-font-family-over,
  $font-family-focus: $button-large-font-family-focus,
  $font-family-pressed: $button-large-font-family-pressed,
  $font-family-disabled: $button-large-font-family-disabled,

  $icon-size: $button-large-icon-size,
  $glyph-color: $button-toolbar-glyph-color,
  $glyph-opacity: $button-toolbar-glyph-opacity,
  $arrow-width: $button-large-arrow-width,
  $arrow-height: $button-large-arrow-height,
  $split-width: $button-large-split-width,
  $split-height: $button-large-split-height,

  $opacity-disabled: $button-toolbar-opacity-disabled,
  $inner-opacity-disabled: $button-toolbar-inner-opacity-disabled
);

.x-btn-orange-large,.x-btn-orange-medium,.x-btn-orange-small{
  -moz-box-shadow:inset 0 0 1px rgba(255,255,255,0.7);
  -webkit-box-shadow: inset 0 0 1px rgba(255,255,255,0.7);
  box-shadow: inset 0px 0px 1px rgba(255,255,255,0.7);
}
.x-btn-icon-el-white-large {
  height: 33px;
}
.x-btn-orange-large {
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  padding: 3px 3px 3px 3px;
  border-width: 1px;
  border-style: solid;
  background-image: none;
  background-color: #ff9b37;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffa346), color-stop(100%, #ff9123));
  background-image: -webkit-linear-gradient(top, #ffa346, #ff9123);
  background-image: -moz-linear-gradient(top, #ffa346, #ff9123);
  background-image: -o-linear-gradient(top, #ffa346, #ff9123);
  background-image: -ms-linear-gradient(top, #ffa346, #ff9123);
  background-image: linear-gradient(top, #ffa346, #ff9123);
}
.x-btn-button-white-large {
  height: 36px;
}
.x-btn-white-large .x-btn-button{
 vertical-align: inherit !important;
}

.uploadfileBtnCls {
  font-family: Raleway,Avenir, Helvetica, Arial, sans-serif;
  border: 0px;
  color: $connect-menu-font-color;
  font-size: 14px;
  font-weight:400;
  background: white;
}

.uploadfileBtnClstext {
  font-family: Raleway,Avenir, Helvetica, Arial, sans-serif;
  color: inherit;
  font-size: 14px;
  /*AC-3291: Updated to change text font-weight.*/
  font-weight:500;
}
.uploadfileBtnCls:hover {
  background: white;
  color: $connect-orange !important;
}

.uploadfileBtnCls .x-btn-inner-default-small {
font: 400 12px/16px "Raleway", sans-serif;
color: inherit;
padding: 0 5px;
max-width: 100%;
}
