.x-grid-header-ct { background-color: #EDEDED }
.x-grid-header-ct .x-box-inner { background-color: #EDEDED}
.x-grid-header-ct .x-box-inner .x-column-header-inner { background-color: #EDEDED }
.x-grid-item-alt {
  background-color: #EBF6FF !important; 
  }
.custom-action { 
border-right:none !important;
}
.x-column-header-inner, .x-column-header-inner span { white-space:normal !important; }
.x-column-header {
    border-right: 1px solid #cecece;
    color: #666666;
    font: 300 12px/15px helvetica, arial, verdana, sans-serif !important;
    outline: 0;
    background-color: #FFFFFF;
}
.x-column-header-inner {
     padding: 4px 0px 7px 0px !important; 
     text-align:center;
}
.custom-column .x-column-header-inner
{
    background-color: yellow !important; 
}
.hiderowexpander .x-grid-cell-inner-row-expander {
     padding: 0px 0px 0px 0px; 
}
.x-grid-item-selected {
    color: black;
    font: 300 13px/15px helvetica, arial, verdana, sans-serif;
    background-color: #FFFCD9 !important;
}
.x-grid-item:hover {
    color: black;
    font: 300 13px/15px helvetica, arial, verdana, sans-serif;
    background-color: #FFFCD9 !important;
}

.invalid .x-grid-row-expander{
	background-color: yellow !important;
}
.x-mask {
  background-image: none;
  background-color: rgba(204, 204, 204, 0.5) !important;
  cursor: default;
  border-style: solid;
  border-width: 1px;
  border-color: transparent; 
  }
.x-grid-row .x-grid-cell-selected {
    color: black;
    background-color: #FFFCD9 !important; 
}