$form-field-border-color:darken($connect-border-color,5%);
$form-field-focus-border-color:$connect-orange;
$form-field-height:30px;
$form-field-font-size:14px;
$form-item-margin-bottom:25px;
$form-label-font-color:#212121;
$form-label-font-size:12pt;
$form-label-font-weight:500;
