.light-black .x-grid-cell{
    background-color :#808080 !important;
}
.black .x-grid-cell{
    background-color: #404040  !important;
}
.home-oder-grid-column-text{
color:#ffffff !important;
font-weight: 600;
}
.home-oder-grid-circle{
margin-top:2px;
float:left;
display:block;
width:10px;
height:10px;
border-radius:50%;
}
.home-oder-grid-text{
float:left;
padding-left:5px;
color:#ffffff !important;
font-weight: 600;
}
.x-column-header .home-order-grid {
	background-color: #000000 !important;
	color:#ffffff !important;
}
.x-column-header .home-order-grid .x-column-header-over,
.x-column-header .home-order-grid .x-column-header-sort-ASC,
.x-column-header .home-order-grid .x-column-header-sort-DESC {
    background-color: #808080 !important;
    color:#ffffff !important;
}