.profile-info-header-text {
  font-size: 13pt;
  color: #424242; /*TODO #424242 */
  font-weight: 600;
  font-family: arial, helvetica, verdana, sans-serif;
  line-height: 20pt;
  text-transform: none;
}
.profile-info-large-text {
  font-size: 18pt;
  color: #424242;
  font-weight: 500;
  line-height: 30pt;
}