.userDetail-title{
  color: #636363; /*TODO #636363 */
  font-weight: bold;
  margin-bottom: 20px;
}
.complete-registration-gender{
	font-size:60px !important;
	margin-left:-3px !important;
	line-height: 10px !important;
	color:#9b9b9b !important;
}