.bottom-toolbar-border {
  border-top: 1px solid $connect-border-color;
  border-left: 1px solid $connect-border-color;
  border-right: 1px solid $connect-border-color;
  border-bottom: 1px solid $connect-border-color;
}
.top-toolbar-border {
  border-top: 1px solid $connect-border-color;
  border-left: 1px solid $connect-border-color;
  border-right: 1px solid $connect-border-color;
  border-bottom: 1px solid $connect-border-color;
}
