.variable-bulkupdate-cancel-button-cls {
	top:0;
	cursor: pointer !important;
	border-color: $variable-bulkupdate-cancel-button-border-color !important;
	height : $variable-bulkupdate-cancel-button-height;
	float:left;
	line-height: 30px;
	padding-top: 5px;
	width : $variable-bulkupdate-cancel-button-width !important;
	text-align: center; 
	font-size:15px !important;
	font-weight: bold !important;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background: $variable-bulkupdate-cancel-button-bg-color;
	background-image:none;
}
.variable-bulkupdate-cancel-button-cls:hover {
	border-color: $variable-bulkupdate-cancel-button-border-color;
	background: $variable-bulkupdate-cancel-button-bg-color;
	background-image:none;
}
.variable-bulkupdate-cancel-button-cls:focus {
	border-color: $variable-bulkupdate-cancel-button-border-color;
	background: $variable-bulkupdate-cancel-button-bg-color;
	background-image:none;
}
.variable-bulkupdate-cancel-button-cls.x-btn.x-btn-pressed  {
    border-color:$variable-bulkupdate-cancel-button-border-color;
	background: $variable-bulkupdate-cancel-button-bg-color;
	background-image:none;
}
.variable-bulkupdate-cancel-button-cls span{
    color:$variable-bulkupdate-cancel-button-text-color;
}
.variable-bulkupdate-save-button-cls {
	top:0;
	cursor: pointer !important;
	border-color: $variable-bulkupdate-save-button-border-color !important;
	height : $variable-bulkupdate-save-button-height;
	float:left;
	line-height: 30px;
	padding-top: 5px;
	width : $variable-bulkupdate-save-button-width !important;
	text-align: center; 
	font-size:15px !important;
	font-weight: bold !important;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background: $variable-bulkupdate-save-button-bg-color;
	background-image:none;
}
.variable-bulkupdate-save-button-cls:hover {
	border-color: $variable-bulkupdate-save-button-border-color;
	background: $variable-bulkupdate-save-button-bg-color;
	background-image:none;
}
.variable-bulkupdate-save-button-cls:focus {
	border-color: $variable-bulkupdate-save-button-border-color;
	background: $variable-bulkupdate-save-button-bg-color;
	background-image:none;
}
.variable-bulkupdate-save-button-cls.x-btn.x-btn-pressed  {
    border-color:$variable-bulkupdate-save-button-border-color;
	background: $variable-bulkupdate-save-button-bg-color;
	background-image:none;
}
.variable-bulkupdate-save-button-cls span{
    color:$variable-bulkupdate-save-button-text-color;
}