.nestedGrid .x-grid-header-ct { 
	border: 0px; 
	background-color: #F6F6F6 !important; 
}
.nestedGrid .x-grid-header-ct .x-box-inner { 
	border-bottom: 1px; 
	background-color:#F6F6F6 !important;
}
.nestedGrid .x-grid-header-ct .x-box-inner .x-column-header-inner { 
	border-right: 0px; background-color: #F6F6F6 !important
}
.nestedGrid .x-column-header{
	border-right: 0px solid #cecece; 
    color: #666666;
    font: 300 12px/15px helvetica, arial, verdana, sans-serif !important;
    outline: 0;
    background-color: #FFFFFF;
}
.nestedGrid .x-grid-item {
    color: black;
    font: 300 13px/15px helvetica, arial, verdana, sans-serif;
    background-color: #F6F6F6 !important;
}

