.x-grid-row-editor-buttons-default-bottom {
	  -moz-border-radius-topleft: 0;
	  -webkit-border-top-left-radius: 0;
	  border-top-left-radius: 0;
	  -moz-border-radius-topright: 0;
	  -webkit-border-top-right-radius: 0;
	  border-top-right-radius: 0;
	  -moz-border-radius-bottomright: 5px;
	  -webkit-border-bottom-right-radius: 5px;
	  border-bottom-right-radius: 5px;
	  -moz-border-radius-bottomleft: 5px;
	  -webkit-border-bottom-left-radius: 5px;
	  border-bottom-left-radius: 5px;
	  padding: 10px 10px 10px 10px;
	  border-width: 0px 1px 1px 1px;
	  border-style: solid;
	  background-color:  white; 
}
.x-grid-row-editor .x-panel-body {
    border-top: 1px solid #e1e1e1 !important;
    border-bottom: 1px solid #e1e1e1 !important;
    padding: 5px 0 5px 0;
    background-color: #FFFCD9 !important;
}
.x-grid-row-editor-buttons:after,
.x-grid-row-editor-buttons:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.x-grid-row-editor-button {
  -webkit-border-top-right-radius: 1;
  -moz-border-radius-topright: 1;
  border-top-right-radius: 1;
}
.x-grid-row-editor-button:after {
  border-bottom-color: white;
  border-width: 12px;
  left: 100%;
  margin-left: -32px;
}
.x-grid-row-editor-buttons {
  -webkit-border-top-right-radius: 1;
  -moz-border-radius-topright: 1;
  border-top-right-radius: 1;
}

