.x-grid-row-radio,
.x-column-header-radio .x-column-header-text {
  height: 15px;
  width: 15px;
  background-image: url(images/form/radio.png);
  line-height: 15px; }
  
  .x-grid-cell-row-radio {
  vertical-align: middle;
  background-repeat: no-repeat;
  font-size: 0; }
  
.x-grid-row-radio-uncheck,
.x-column-header-radio .x-column-header-text {
 height: 15px;
  width: 15px;
  background-image: url(images/form/radio.png);
  background-position: 0 -15px; 
}
  
.x-grid-cell-row-radio .x-grid-cell-inner {
  padding: 5px 4px 4px 4px; 
}
.x-grid-hd-radio-on .x-column-header-text,
.x-grid-item-selected .x-grid-row-radio,
.x-grid-item-selected .x-grid-row-radio-uncheck {
  background-position: 0 -15px; 
}