.custom-row-expander{
    width: 16px;
    height: 15px;
    cursor: pointer;
    background-image: url(images/colapse.png);
}
.x-grid-row-collapsed .custom-row-expander {
    background-image: url(images/expand.png); 
}
.hiderowexpander .x-grid-cell-inner-row-expander {
     padding: 0px 0px 0px 0px; 
}
.invalid .x-grid-row-expander{
	background-color: yellow !important;
}