.custom-row-expander{
    width: 16px;
    height: 15px;
    cursor: pointer;
    background-image: url(images/colapse.png);
}
.x-grid-row-collapsed .custom-row-expander {
    background-image: url(images/expand.png); 
}
.aoc-grid-cell-special {
    border-color: #cecece;
    border-style: solid;
    border-right-width: 0px; 
    background: transparent;
	background-image:none;
}
