.header-pipe-icon{
  width:100%;
  text-align:center;
  color:#d4d4d4;
  font-size:30px;
  font-weight:500;
  line-height: 60px;
}
.header-right-text{
  width:100%;
  text-align:center;
  font-size:18px;
  font-weight:500;
  line-height: 60px;
}
.aoc-header{
box-shadow: 0px 0px 1px 0px rgba(47,51,56,0.07) inset;
background-color:  #ffffff !important;
}
.header-user-name-text{
width:100%;
text-align:center;
font-size:12px;
font-weight:500;
line-height: 60px;
}
.header-profile-menu-icon{
cursor:pointer;
}