.header-pipe-icon{
  width:100%;
  text-align:center;
  color:#d4d4d4;
  font-size:30px;
  font-weight:500;
  line-height: 60px;
}
.header-right-text{
  width:100%;
  text-align:center;
  font-size:18px;
  font-weight:500;
  line-height: 60px;
}
.header-user-name-text{
width:100%;
text-align:center;
font-size:12px;
font-weight:500;
line-height: 60px;
}
.header-profile-menu-icon{
cursor:pointer;
}