.heading-text{
width:100%;
text-align:center;
font-family:San Serif,Helvetica, Arial;
font-size:18px;
color:#2F3338;
line-height:21px;
}
.forget-pws-text{
padding:0px 0px 0px 0px !important;
font-family: San Serif, Helvetica, Arial;
font-size: 13px; color: rgba(47,51,55,0.60);
line-height: 16px;
}