$button-default-background-gradient:'matte';
$button-toolbar-background-gradient:'matte';
$button-small-icon-size:25px;
$button-medium-icon-size:30px;
$button-large-font-weight:400;
$button-medium-font-weight:400;
$button-small-font-weight:400;

$button-large-border-radius:1px;
$button-medium-border-radius:1px;
$button-small-border-radius:1px;

$button-large-padding:0 3px 0 3px;
$button-medium-padding:0 3px 0 3px;
$button-small-padding:0 3px 0 3px;

$button-toolbar-background-color-focus:transparent;
$button-toolbar-background-color-over:transparent;
$button-toolbar-background-color-pressed:transparent;

$button-toolbar-border-color-focus:transparent;
$button-toolbar-border-color-over:transparent;
$button-toolbar-border-color-pressed:transparent;

$button-toolbar-color:$connect-text-color;
$button-toolbar-color-over:$connect-orange;




