/** @class Ext.view.BoundList */
//

$boundlist-item-height: 24px !default;
$boundlist-item-padding: 12px 6px !default;
$boundlist-background-color: #fff !default;
$boundlist-item-border-color: #d4d4d4 !default;
$boundlist-item-border-style:solid !default;
$boundlist-item-over-background-color: #d2d2d2 !default;
$boundlist-item-selected-background-color: #d2d2d2 !default;
$boundlist-item-over-border-color: $boundlist-item-over-background-color  !default;
$boundlist-item-selected-border-color: $boundlist-item-selected-background-color !default;
$boundlist-item-border-width:0 1px 1px 1px !default;