.orange-large-btn-icon,.orange-large-btn-icon-only{
  font-size:42pt !important;
  line-height:24pt !important;
  color:#FFFFFF!important;
  /*margin-top:6px;*/
}
.orange-large-btn-edit{
  font-size: 48px!important;
  line-height: 35px!important;
}
.orange-large-btn-icon-only{
  margin-left:-8px;
}
.white-large-btn-icon{
  font-size:48px!important;
  line-height:27px!important;
  margin-top:5px;
  padding-left: 3px;
  color:$connect-orange!important;
}
.folder-window-orange-large-btn-icon{
  font-size: 20px!important;
  line-height: 31px!important;
}
.folder-window-orange-large-btn-icon-only {
  margin-left: -5px;
  margin-top: -5px;
}
.orange-medium-btn-edit {
  font-size: 48px!important;
  margin-right: 2px;
  line-height: 22px!important;
}
.orange-medium-btn-icon{
  color : #ffffff !important;
  left: -5px;
  position:relative;
  top:4px;
}

.orange-btn-icon {
  font-size: 50px!important;
  line-height:30px!important;
  color: #FFFFFF!important; /*TODO #FFFFFF */
  margin-left:-11px;
  margin-right:5px !important;
}
.add-orange-btn-icon{
  font-size: 18px!important;
  line-height: 22px!important;
  color: #FFFFFF; /*TODO #FFFFFF */
  left: 4px;
}
.user-info-top-btn-icon {
  font-size: 56px!important;
  line-height: 30px!important;
  color: #888!important; /*TODO #888 */
  margin-left: 10px;
}
.white-tested-btn-icon {
  margin-left: 5px;
  color: #75ce5f !important; /*TODO #75ce5f */
  font-size: 18px!important;
  line-height: 20px!important;
  padding : 2px 0px 0px 0px !important;
  margin-right : -4px !important;
}
.white-failed-btn-icon {
  font-size: 48px!important;
  font-weight: 700 !important;
  line-height: 33px!important;
  margin-top: -3px;
  color: #ff9b37 !important; /*TODO #ff9b37 */
  margin-right: 3px !important;
}
