$bulkupdate-cancel-button-border-color:#cecece; 
$bulkupdate-cancel-button-bg-color:white;
$bulkupdate-cancel-button-text-color:#cecece;
$bulkupdate-cancel-button-height:32px;
$bulkupdate-cancel-button-width:80px;

$bulkupdate-save-button-border-color:#498FE1;
$bulkupdate-save-button-bg-color:#498FE1;
$bulkupdate-save-button-text-color:white;
$bulkupdate-save-button-height:32px;
$bulkupdate-save-button-width:80px;
