$variable-bulkupdate-cancel-button-border-color:#cecece;
$variable-bulkupdate-cancel-button-bg-color:white;
$variable-bulkupdate-cancel-button-text-color:#cecece;
$variable-bulkupdate-cancel-button-height:32px;
$variable-bulkupdate-cancel-button-width:80px;

$variable-bulkupdate-save-button-border-color:#498FE1;
$variable-bulkupdate-save-button-bg-color:#498FE1;
$variable-bulkupdate-save-button-text-color:white;
$variable-bulkupdate-save-button-height:32px;
$variable-bulkupdate-save-button-width:80px;
